NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=sample-demo-website-2026.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=sample-demo-website-2026
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=sample-demo-website-2026.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
NEXT_PUBLIC_SITE_URL=https://sample-demo-website-2026.web.app
NEXT_PUBLIC_MAINTENANCE_MODE=false
NEXT_PUBLIC_ANALYTICS_ENABLED=false
