.next/
node_modules/
out/
dist/
build/
deploy-static/
test-results/
tmp/
.firebase/
.env
.env.*
!.env.example
.env.local
.env.*.local
*.sqlite
*.sqlite-*
*.db
*.db-*
*.pem
*.key
*.tar.gz
*.zip
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
